/node_modules
/nuxt/node_modules
/public/hot
/public/storage
/public/vendor
/vendor
.env
/nuxt/.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
v8-compile-cache*
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/.idea
/public/mix-manifest.json
/public/js/app.js
/public/fonts
