/node_modules
/nuxt/node_modules
/public/hot
/public/storage
/public/vendor
/vendor
.env
/nuxt/.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
v8-compile-cache*
/storage/
.idea/**/workspace.xml
.idea/**/tasks.xml
